@import 'mixin.scss';
@import 'variable.scss';
// $neela_rang: skyblue;
*{
    margin: 0;
    padding: 0;
}

.container {
        margin: $margin;
        padding: $padding;
        border:$border;
        background: $background;
        .innercontainer{
            border: $borderr;
            background: $backgroundd;
            }
        .button{
            background-color: $neela_rang;
        }
}
// .container{
//     @include hello;
// }
// .container2{
//     @include hello;
// }
